---
layout: layouts/base.njk
title: Articles
description: Articles et conférences de Simon Duhem sur l'accessibilité, les Web Components et le développement front-end.
---
<h1>Articles</h1>
<p>Articles et slides.</p>
{%- set items = collections.posts | withTalks(talks) %}
{% include "partials/postlist.njk" %}
