---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
	{%- if page.data.permalink != false %}
	<url>
		<loc>{{ page.url | htmlBaseUrl(metadata.url) }}</loc>
		<lastmod>{{ page.date | isoDate }}</lastmod>
	</url>
	{%- endif %}
{%- endfor %}
{#- Présentations Marp, générées au déploiement #}
{%- for talk in talks %}
	<url>
		<loc>{{ talk.url | htmlBaseUrl(metadata.url) }}</loc>
		{%- if talk.date %}
		<lastmod>{{ talk.date | isoDate }}</lastmod>
		{%- endif %}
	</url>
{%- endfor %}
</urlset>
