:root {
  --color-dark: #222;
  --color-light: #fafafa;
  --font-primary: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-size: 2.4rem;
  --font-weight: 400;
  --font-color: var(--color-dark);
  --line-height: 1.4;
  --background-color: var(--color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: var(--color-light);
    --background-color: var(--color-dark);
  }
}

html,
body {
  height: 100%;
}

html {
  font-size: 0.625rem;
  font-size: calc(1rem * 0.625);
}

body {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
  background: var(--background-color);
  color: var(--font-color);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

main {
  text-align: center;
}

h1 {
  margin: 0 0 0.8rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1;
}

h2 {
  margin: 0 0 2.4rem;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.25;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 1.6rem;
  list-style: none;

  li a {
    color: var(--font-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

canvas#lcs-cnvs {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
