---
title: Articles
---
<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <base href="{{ site.base | absUrl(page.url) }}">
  <link rel="stylesheet" href="https://www.w3.org/assets/website-2021/styles/core.min.css" media="screen">
  <link rel="stylesheet" href="https://unpkg.com/prismjs@latest/themes/prism-okaidia.css" media="screen">
  <meta property="og:title" content="{{ title }}" />
  {%- if tags == 'articles' -%}
  <meta property="og:type" content="article" />
  {%- else -%}
  <meta property="og:type" content="website" />
  {%- endif -%}
  <meta property="og:url" content="{{ site.base | absUrl(page.url) }}" />
  {%- if ogImage -%}
  <meta property="og:image" content="{{ site.base | absUrl(page.url + ogImage) }}" />
  {%- endif -%}
</head>

<body>
  <main>
    <h1>{{ title }}</h1>
    {%- if date -%}
    <time datetime="{{ date | toISO }}">{{ date | formatDateFR }}</time>
    {%- endif -%}
    {%- if origin -%}
    <p>
      Article originalement publié sur&nbsp;:
      <a href="{{ origin.href }}">{{ origin.title }}</a>
    </p>
    {%- endif -%}
    {{ content | safe }}
  </main>
</body>

</html>