/* Message Box */
.message-box {
  --color-message-box: #ffc;

  display: block;
  padding: 1em 0.625em; /* 16px 10px /16 */
  background-color: var(--color-message-box);
  color: var(--color-gray-90);
}

.message-box ol {
  margin-top: 0;
}

@media (prefers-color-scheme: dark) {
  .message-box {
    --color-message-box: #082840;
  }
}
