/*
 * New diff- syntax
 */

pre[class*='language-diff-'] {
  --eleventy-code-padding: 1.25em;

  padding-right: var(--eleventy-code-padding);
  padding-left: var(--eleventy-code-padding);
}

.token.deleted {
  background-color: hsl(0deg 51% 37%);
  color: inherit;
}

.token.inserted {
  background-color: hsl(126deg 31% 39%);
  color: inherit;
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 2px;
  user-select: none;
}

.token.prefix.inserted,
.token.prefix.deleted {
  width: var(--eleventy-code-padding);
  background-color: rgb(0 0 0 / 20%);
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
  display: block;
  margin-right: calc(-1 * var(--eleventy-code-padding));
  margin-left: calc(-1 * var(--eleventy-code-padding));
  color: inherit; /* override del, ins, mark defaults */
  text-decoration: none; /* override del, ins, mark defaults */
}
