---
layout: layouts/base.njk
title: Slides
description: Slides des conférences de Simon Duhem sur l'accessibilité et les Web Components.
---
<h1>Slides</h1>
<p>Les supports de mes conférences, consultables en ligne ou à télécharger.</p>
{%- set headingLevel = 2 %}
{%- set showDescription = true %}
{% include "partials/talklist.njk" %}
