name: Changeset

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC

jobs:
  changeset:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Publish packages
        uses: changesets/action@v1
        with:
          publish: pnpm changeset:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
